
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div> 
        <h1>Cookie Based Auth</h1>

        @Html.ActionLink("Authorize", "Authorize")
        @Html.ActionLink("SecuredAction", "SecuredAction")
    </div>
</body>
</html>
